<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBConnectionString" value="Data Source = localhost\MSSQLSERVER03; Initial Catalog = ContactsDB; Integrated Security = SSPI;Pooling = False"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>