<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DBConnectionString" value="Data Source = localhost\MSSQLSERVER03; Initial Catalog = ContactsDB; Integrated Security = SSPI;Pooling = False"/>  
    <!--<add key="DBConnectionString" value="Data Source = DESKTOP-E7I5C79; Initial Catalog = ContactsDB; Integrated Security = SSPI;Pooling = False"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="FinalService.ContactService">
        <endpoint address="" behaviorConfiguration="FinalService.Service2AspNetAjaxBehavior"
          binding="webHttpBinding" contract="FinalService.ContactService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BasicHttpBinding_IService1">
          <enableWebScript />
          <webHttp />
        </behavior>
        <behavior name="FinalService.Service2AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />

   
    <client>
      <endpoint address="http://localhost/FinalService/Service1.svc"
                binding="webHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference.IService1"
                 behaviorConfiguration="Web"
                 name="BasicHttpBinding_IService1" />
    </client>
   
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
